<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>592762865734-8c3ajvhc058k2lpecff78so5s50i3t55.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.592762865734-8c3ajvhc058k2lpecff78so5s50i3t55</string>
	<key>API_KEY</key>
	<string>AIzaSyAc8izk8Sw8eFafKttexipRAuQMUv8t7r0</string>
	<key>GCM_SENDER_ID</key>
	<string>592762865734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.petsitting.app</string>
	<key>PROJECT_ID</key>
	<string>sittersapp-4eace</string>
	<key>STORAGE_BUCKET</key>
	<string>sittersapp-4eace.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592762865734:ios:1ffd44570a1fc836086247</string>
</dict>
</plist>